/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 0.5rem;
    margin-bottom: 24px;
  }

  .header_button {
    text-align: center;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
  }

  .header_title {
    text-align: center;
    font-size: 28px;
  }

  .header_subtitle {
    font-size: 22px;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header_main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header_title {
  text-align: start;
}

.header_subtitle {
  text-align: start;
}
